body {
  font-family: verdana;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

li.selected {
  background-color: dodgerBlue;
}

li.selected a {
  color: cornSilk;
}

.twoColumn {
  display: flex;
}
